@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@font-face
{
    font-family: Cinzel;
    src: url("fonts/Cinzel.ttf");
}

#school_curriculums_title
{
    color: rgba(255, 255, 255, 255);
    font-family: 'Cinzel', monospace;
    font-size: 5.8rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
}

#school_curriculums_tldr
{
    text-align: center;
}

#github_link_school_curriculums
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#school_curriculums_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

.school_curriculums_text
{
    color: rgba(255, 255, 255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
} 