@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@font-face
{
    font-family: Cinzel;
    src: url("fonts/Cinzel.ttf");
}


#speech_emotion_title
{
    color: rgba(255, 255, 255, 255);
    font-family: 'Cinzel', monospace;
    font-size: 55pt;
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 10px;
}

#speech_emotion_tldr
{
    text-align: center;
}

#speech_emotion_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

.speech_emotion_text
{
    color: rgba(255, 255, 255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
} 