@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

#tfhe_title
{
    color: rgba(255, 255, 255, 255);
    font-family: 'VT323', 'monospace';
    font-size: 4.8rem; 
    letter-spacing: +0.7rem;
    text-align: center;
    padding-bottom: 25px;
}

#tfhe_tldr
{
    text-align: center;
}

#drive_link_tfhe
{
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#tfhe_body
{
    text-align: center;
    font-family: 'cascadia', 'monospace';
}

.tfhe_text
{
    color: rgba(255, 255, 255, 255);
    font-size: 1.8rem; 
    letter-spacing: -.05rem;
} 